/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 18px;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
.btn,
.navbar-link,
.badge,
.text-uppercase {
  font-family: "Barlow Condensed", sans-serif;
}

h1,
.h1 {
  text-transform: uppercase;
  line-height: 1;
  color: #242942;
}

p {
  color: #5b5f71;
  font-size: 1.025rem;
}

.badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.77rem;
  letter-spacing: 1px;
  line-height: 1;
}

.text-uppercase {
  font-size: 0.79rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #a0a1ac;
}

@media (min-width: 960px) {
  h1,
.h1 {
    font-size: clamp(2.5rem, 4vw + 0.5rem, 3.55rem);
  }

  .badge,
.text-uppercase {
    font-size: 0.85rem;
  }
}
.px {
  padding-inline: 30px;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.navbar-logo {
  width: 25px;
  height: 25px;
}
.navbar-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.navbar input:checked + label .navbar-open {
  display: none;
}
.navbar input:checked + label .navbar-close {
  display: block;
}
.navbar input:checked ~ .navbar-list {
  display: flex;
}
.navbar input + label .navbar-close {
  display: none;
}
.navbar input ~ .navbar-list {
  display: none;
}
.navbar-list {
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 55px;
  left: 50%;
  width: max(325px, 86vw);
  margin: 0;
  padding: 1rem;
  border-radius: 5px;
  transform: translateX(-50%);
  z-index: 0;
  list-style: none;
  background-color: white;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}
.navbar-item {
  padding-block: 0.5rem;
}
.navbar-item:last-child {
  margin-top: 0.75rem;
  padding: 1.25rem 0 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid #eef3f6;
}
.navbar-item:last-child a {
  color: #a0a1ac;
}
.navbar-link {
  font-weight: 700;
  color: #242942;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-link:hover, .navbar-link:focus {
  text-decoration: underline;
}

@media (min-width: 525px) {
  .navbar-logo {
    width: 30px;
    height: 30px;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-list {
    position: relative;
    top: 0;
    left: auto;
    width: auto;
    transform: translateX(0);
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    background-color: transparent;
    box-shadow: none;
  }
  .navbar-item {
    padding-block: 0;
  }
  .navbar-item:last-child {
    margin: 0 0 0 20px;
    padding: 0;
    width: auto;
    border: none;
    text-align: left;
    list-style: disc;
    color: #a0a1ac;
  }
  .navbar-item:last-child a {
    color: #a0a1ac;
  }
}
@media (min-width: 960px) {
  .navbar {
    margin-top: 2.7rem;
  }
  .navbar-list {
    gap: 40px;
  }
  .navbar-item:last-child a {
    margin-left: 20px;
  }
}
.hero-img {
  margin-top: 3.25rem;
  margin-bottom: 85px;
  width: 100%;
  height: 235px;
  background-image: url(../images/illustration-devices.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}
.hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 410px;
  border-bottom-left-radius: 70px;
  z-index: -1;
  background-color: #ffe6e6;
}

.flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flow > * + * {
  margin-top: 1rem;
}

.badge {
  text-transform: uppercase;
  color: white;
  background-color: #242942;
}

.btn {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 5px;
  font-size: 0.76rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  background-color: #ff5c5c;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: #ff8080;
}

main button {
  margin-top: 0.25rem;
}
main button + .text-uppercase {
  letter-spacing: 2px;
}

.attribution {
  margin-top: 100px;
}

@media (min-width: 525px) {
  .flex-md {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .flex-md,
.navbar,
.footer {
    margin-inline: auto;
  }

  .hero-img {
    flex: 1 1 40%;
  }

  .main {
    flex: 1 1 60%;
  }
}
@media (min-width: 960px) {
  .flex-md > * {
    flex: 1 1 50%;
  }

  .flex-md,
.navbar,
.footer {
    max-width: 1440px;
  }

  .btn {
    font-size: 0.95rem;
    padding: 1rem 2rem;
  }

  .px {
    padding-inline: 165px;
  }

  .pe-lg-0 {
    padding-inline-end: 0;
  }

  .hero-img {
    height: 465px;
    margin-top: 5.45rem;
  }

  main > p {
    margin: 1.75rem 0 3.5rem !important;
    padding-inline-end: clamp(0.5rem, 17.6vw, 15rem);
  }
  main button + .text-uppercase {
    letter-spacing: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
