.hero-img {
  margin-top: 3.25rem;
  margin-bottom: 85px;
  width: 100%;
  height: 235px;

  background-image: url(../images/illustration-devices.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 410px;
    border-bottom-left-radius: 70px;
    z-index: -1;

    background-color: $Red-200;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flow {
  > * + * {
    margin-top: 1rem;
  }
}

.badge {
  text-transform: uppercase;

  color: white;
  background-color: $Very-Dark-Blue;
}

.btn {
  padding: 0.75rem 1.25rem;

  border: none;
  border-radius: 5px;

  font-size: 0.76rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;

  background-color: $Red;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $Red-300;
  }
}

main {
  button {
    margin-top: 0.25rem;
  }
  button + .text-uppercase {
    letter-spacing: 2px;
  }
}

.attribution {
  margin-top: 100px;
}

@include mq($break-point-md) {
  .flex-md {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .flex-md,
  .navbar,
  .footer {
    margin-inline: auto;
  }

  .hero-img {
    flex: 1 1 40%;
  }

  .main {
    flex: 1 1 60%;
  }
}

@include mq($break-point-lg) {
  .flex-md {
    > * {
      flex: 1 1 50%;
    }
  }

  .flex-md,
  .navbar,
  .footer {
    max-width: 1440px;
  }

  .btn {
    font-size: 0.95rem;
    padding: 1rem 2rem;
  }

  .px {
    padding-inline: 165px;
  }

  .pe-lg-0 {
    padding-inline-end: 0;
  }

  .hero-img {
    height: 465px;
    margin-top: 5.45rem;
  }

  main {
    > p {
      margin: 1.75rem 0 3.5rem !important;
      padding-inline-end: clamp(0.5rem, 17.6vw, 15rem);
    }

    button + .text-uppercase {
      letter-spacing: 5px;
    }
  }
}
