.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2rem;

  &-logo {
    width: 25px;
    height: 25px;
  }

  &-input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  input:checked {
    & + label {
      .navbar-open {
        display: none;
      }
      .navbar-close {
        display: block;
      }
    }

    & ~ .navbar-list {
      display: flex;
    }
  }

  input {
    & + label .navbar-close {
      display: none;
    }

    & ~ .navbar-list {
      display: none;
    }
  }

  &-list {
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 55px;
    left: 50%;
    width: max(325px, 86vw);
    margin: 0;
    padding: 1rem;
    border-radius: 5px;
    transform: translateX(-50%);
    z-index: 0;

    list-style: none;

    background-color: white;
    box-shadow: 0 2px 30px rgba($color: #000000, $alpha: 0.15);
  }

  &-item {
    padding-block: 0.5rem;

    &:last-child {
      margin-top: 0.75rem;
      padding: 1.25rem 0 0;
      width: 100%;
      text-align: center;
      border-top: 2px solid $Light-Grayish-Blue;
      a {
        color: $Grayish-Blue;
      }
    }
  }

  &-link {
    font-weight: 700;
    color: $Very-Dark-Blue;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@include mq($break-point-md) {
  .navbar {
    &-logo {
      width: 30px;
      height: 30px;
    }

    &-toggle {
      display: none;
    }

    &-list {
      position: relative;
      top: 0;
      left: auto;
      width: auto;
      transform: translateX(0);

      display: flex !important;
      flex-direction: row;
      gap: 20px;

      background-color: transparent;
      box-shadow: none;
    }

    &-item {
      padding-block: 0;

      &:last-child {
        margin: 0 0 0 20px;
        padding: 0;
        width: auto;
        border: none;

        text-align: left;

        list-style: disc;
        color: $Grayish-Blue;

        a {
          color: $Grayish-Blue;
        }
      }
    }
  }
}

@include mq($break-point-lg) {
  .navbar {
    margin-top: 2.7rem;

    &-list {
      gap: 40px;
    }

    &-item {
      &:last-child {
        a {
          margin-left: 20px;
        }
      }
    }
  }
}
