@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

html {
  font-size: 18px;
}

$ff-Barlow-Condensed: 'Barlow Condensed', sans-serif;
$ff-Barlow: 'Barlow', sans-serif;

body {
  font-family: $ff-Barlow;
}

h1,
.btn,
.navbar-link {
  font-family: $ff-Barlow-Condensed;
}

h1,
.h1 {
  color: $Very-Dark-Blue;
}

p {
  color: $Dark-Grayish-Blue;
}

.text-uppercase {
  text-transform: uppercase;
  color: $Grayish-Blue;
}
