@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

html {
  font-size: 18px;
}

$ff-Barlow-Condensed: 'Barlow Condensed', sans-serif;
$ff-Barlow: 'Barlow', sans-serif;

body {
  font-family: $ff-Barlow;
}

h1,
.btn,
.navbar-link,
.badge,
.text-uppercase {
  font-family: $ff-Barlow-Condensed;
}

h1,
.h1 {
  text-transform: uppercase;
  line-height: 1;
  color: $Very-Dark-Blue;
}

p {
  color: $Dark-Grayish-Blue;
  font-size: 1.025rem;
}

.badge {
  padding: 5px 10px;
  border-radius: 20px;

  font-weight: 700;
  font-size: 0.77rem;
  letter-spacing: 1px;
  line-height: 1;
}

.text-uppercase {
  font-size: 0.79rem;
  text-transform: uppercase;
  letter-spacing: 4px;

  color: $Grayish-Blue;
}

@include mq($break-point-lg) {
  h1,
  .h1 {
    font-size: clamp(2.5rem, 4vw + 0.5rem, 3.55rem);
  }

  .badge,
  .text-uppercase {
    font-size: 0.85rem;
  }
}
