// ## Colors

// ### Primary

$Red: hsl(0, 100%, 68%);
$Red-200: hsl(0, 100%, 95%);

// ### Neutral

$Very-Dark-Blue: hsl(230, 29%, 20%);
$Dark-Grayish-Blue: hsl(230, 11%, 40%);
$Grayish-Blue: hsl(231, 7%, 65%);
$Light-Grayish-Blue: hsl(207, 33%, 95%);

$break-point-md: 600px;
$break-point-lg: 800px;

@mixin mq($bp) {
  @media (min-width: $bp) {
    @content;
  }
}
